<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'images/ouraring.jpg' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainlyChat</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
</head>
    {% block page_content %}
    {% endblock %}
</html>